* {
    margin: 0;
    padding: 0;
}

div.divRoot {
    display: flex;
    padding: 1rem;
    height: 100vh;

    div.loading {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: burlywood;
    }

    table.tbBairros tr th {
        font-weight: bold;
        font-size: 1.5rem;
    }

    table.tbBairros tr th, table.tbBairros tr td {
        border: 1px solid #666;
        padding: 1rem;
    }
}

.checkColumns {
    margin: 0 1rem;

    .checkboxContainer {
        margin-bottom: 1rem;
        border: 1px solid grey;
        padding: 1rem;
    }

    h4.title-checkbox {
        color: #7c7a7a;
        border-bottom: 1px solid grey;
        margin-bottom: 1rem;
    }

    .checkbox {
        margin: .5rem 0;

        label {
            span {
                margin-left: .3rem;
            }
        }
    }
}